.screen-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    margin-bottom: 15px;
}
.screen-header__title{
    font-size: 32px;
    font-weight: 600;
}
.screen-header__icons span,a{
    margin-left:25px ;
}

.screen__header__icons span:nth-child(2){
    position:relative;
}
.alert-setting{ /*need to fix*/
    width:5px;
    height:5px;
    background-color:tomato;
    border-radius:2.5px;
    position:absolute;
    right:4px;
    top:50px;
}